*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    
}
.parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap: 10px;
    
    
    
}
.parent > div{
    color: white;
    padding: 10px;
    justify-content: center;
    background-color: rgb(222, 87, 87);
    text-align: center;
    
}

@media screen and (max-width:1000px)  {
    .parent{
        grid-template-columns: repeat(2,1fr);
   
    }
}
@media screen and (max-width:600px) {
    .child{
        grid-column: 1/5;
    }
    
}
   
    